<h2>All Shelters</h2>

<main>
  <% @shelters.each do |shelter| %>
    <section id="shelter-<%= shelter.id %>-section">
      <h3><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></h3>
      <p>
        <%= "Address: #{shelter.address}, #{shelter.city} #{shelter.state} #{shelter.zip}" %>
      </p>
      <navbar>
        <%= link_to 'Edit Shelter', "/shelters/#{shelter.id}/edit" %>
        <%= link_to 'Delete Shelter', "/shelters/#{shelter.id}", method: :delete %>
      </navbar>
    </section>
  <% end %>
</main>

<footer>
  <a href="shelters/new">Create New Shelter</a>
  <%= link_to 'Sort Alphabetically', '/shelters?sort_by=alphabet' %>
  <%= link_to "Sort By Number of Adoptable Pets", '/shelters?sort_by=adoptable' %>
</footer>
