<h2>All Pets at <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %> <%= @shelter.pet_count_label%></h2>

<main>
  <% @pets.each do |pet| %>
    <section id="pet-<%= pet.id %>-section">
    <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
    <p>
      Approximate Age: <%= pet.approx_age %><br/>
      Sex: <%= pet.sex %><br/>
      <%= image_tag "#{pet.image_path}", alt: "#{pet.image_path}" %>
    </p>
    </section>
  <% end %>
</main>

<footer>
  <a href="/shelters/<%= @shelter.id %>/pets/new">Add Adoptable Pet</a>
  <a href="/shelters/<%= @shelter.id %>">Return to Shelter Info</a>
</footer>
