<h1>Pet Info</h1>

<h3><%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></h3>
<p>
  Adoptable: <%= @pet.adoptable %><br/>
  Description: <%= @pet.description %><br/>
  Approximate Age: <%= @pet.approx_age %><br/>
  Sex: <%= @pet.sex %><br/>
  <%= image_tag "#{@pet.image_path}", alt: "#{@pet.image_path}" %>
</p>

<p>
  <a href="/pets/<%= @pet.id %>/edit">Edit Pet Info</a><br/>
  <%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
  <a href="/shelters/<%= @pet.shelter.id %>">This Pet's Shelter</a><br/>
  <a href="/pets">All Pets Index</a><br/>
</p>
