<h2>Pet Info</h2>

<main>
  <section>
    <h3><%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></h3>
    <p>
      Adoptable: <%= @pet.adoptable %><br/>
      Description: <%= @pet.description %><br/>
      Approximate Age: <%= @pet.approx_age %><br/>
      Sex: <%= @pet.sex %><br/>
      <%= image_tag "#{@pet.image_path}", alt: "#{@pet.image_path}" %>
    </p>
  </section>
</main>

<footer>
  <a href="/pets/<%= @pet.id %>/edit">Edit Pet Info</a>
  <%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
  <%= link_to *@pet.adoptable_link_args %>
  <a href="/shelters/<%= @pet.shelter.id %>">This Pet's Shelter</a>
</footer>
